--dhcpbridge_flagfile=/home/nova/nova/trunk/etc/nova.conf
--dhcpbridge=/home/nova/nova/trunk/bin/nova-dhcpbridge
#--logdir=/var/log/nova
--state_path=/var/lib/nova
--lock_path=/var/lock/nova
--verbose
--api_paste_config=/home/nova/nova/trunk/etc/nova/api-paste.ini

# Nova Database
--sql_connection=mysql://nova:nova@localhost/nova

# Image Service
--image_service=nova.image.glance.GlanceImageService

# Compute Service
--libvirt_type=qemu
